@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swop');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.conteiner {
    background-color: #3047a3;
    height: 100vh;
    isolation: isolate;
}

.navbar {
    height: 13vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist {
    display: flex;
}

.navlist li {
    list-style: none;
    padding: 20px;
}

.navlist a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
}

.logo img {
    height: 60px;
}

.click button:nth-child(1),
.click button:nth-child(2) {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

/* Login */
.click button:nth-child(1) {
    background-color: #f0b033;
    color: #ffffff;
    border: 2px solid #f0b033;
}

.click button:nth-child(1):hover {
    background-color: transparent;
    color: #f0b033;
}

/* Sign Up */
.click button:nth-child(2) {
    background-color: transparent;
    color: #f0b033;
    border: 2px solid #f0b033;
    margin-left: 20px;
}

.click button:nth-child(2):hover {
    background-color: #f0b033;
    color: white;
}


.navlist a::before {
    content: "";
    background-color: rgb(255, 242, 0);
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -10px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.navlist a:hover::before {
    width: 50%;
}

.navlist .active::before {
    content: "";
    background-color: rgb(255, 242, 0);
    width: 50%;
    height: 3px;
    position: absolute;
    bottom: -10px;
    border-radius: 10px;
}

.circle {
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.14);
    border: 1px solid rgba(255, 255, 255, 0.44);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.circle::before {
    content: "";
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(img/farm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circle::after {
    content: "";
    width: 480px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(3px);
}

.hero {
    width: 50%;
    height: 87vh;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.content h1 {
    font-size: 58px;
    color: white;
    font-family: "fredoka One", cursive;
    letter-spacing: 2px;
    line-height: 100px;

}

.content p {
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    max-width: 60%;
    line-height: 30px;
    padding: 30px 0px 50px 0px;
}

.content button {
    padding: 20px 30px;
    background: #ffd470;
    background: linear-gradient(90deg, rgba(255, 212, 112, 1) 20%, rgba(255, 179, 0, 1) 53%, rgba(224, 157, 0, 1) 95%);
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.content button:hover {
    cursor: pointer;
    background: linear-gradient(to left, #f0b033, #ec9620);
}

.main-character img {
    height: 560px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.character {
    position: absolute;
    top: 120px;
    right: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.character h2 {
    color: white;
    letter-spacing: 2px;
    font-family: "fredoka One", cursive;
    font-size: 25px;

}

.fiters {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.fiters img {
    height: 120px;

}